body { 
background-image: url('../images/wallpaper.jpg');
background-repeat: no-repeat;
display: block;
}

h1 {
	text-align: center;
	color: #081D09;
	font-size: 60px;
	margin-top: 60px;
}

#items {
	text-align: center;
}

input {
	text-align: center;
	display: block;
	margin: -30px auto 0 auto;
	}

button {
	text-align: center;
	display: block;
	margin: 5px auto 0 auto;
	border-radius: 2px;
}